/* Below is the reset https://andy-bell.co.uk/a-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Above is the reset https://andy-bell.co.uk/a-modern-css-reset/ */

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#mainContainer {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 9fr;
}

#headerContainer {
  grid-column: 1 / 3;
  background-color: #3498db;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #2980b9;
  font-size: 50px;

  display: flex;
  align-items: center;
  justify-content: start;
}

#sideContainer {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  background-color: #2c3e50;
  color: #fff;
  padding: 20px;
  border-right: 2px solid #1f2c38;

  display: flex;
  flex-direction: column;
  gap: 50px;
  font-size: 20px;
}

.projectContainer {
  display: flex;
  flex-direction: column;

  gap: 5px;
}

.sideItem,
.project,
#addProjectBtn {
  transition: transform 0.2s;
  transform-origin: left;
}

.sideItem:hover,
.project:hover,
#addProjectBtn:hover {
  transform: scale(1.2);
  color: #2980b9;
}

#contentContainer {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  flex-grow: 1;
  padding: 20px;
  background-color: #ecf0f1;
  border-left: 2px solid #d5d8dc;
}

li {
  background-color: #fff;
  border: 1px solid #d5d8dc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 5px;
  font-size: 15px;
}

#addItemBtn {
  font-size: 15px;
  display: inline-block;
  padding: 5px 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;

  grid-row: 2 / 3;
  grid-column: 1 / -1;
}

#itemProperty {
  margin: 5px 0px;
  /* color: red; */
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

textarea {
  resize: none;
  width: 100%;
  height: 100px;
}

.individualContainer {
  display: flex;
  justify-content: space-between;
  background-color: #2980b9;
  padding: 0px 10px;
  border-radius: 4px;
}

.iconContainer {
  display: flex;
  align-items: center;
}

ul[role="list"] {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 100px 1fr repeat(2, 400px);
}

#domListTitle {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
}

.domItemTitleValue {
  font-size: 25px;
  align-self: center;
  text-align: center;
  overflow-x: auto;
  white-space: nowrap;
  width: 250px;
  margin: 3px;
}

.todoCard {
  display: flex;
  flex-flow: column wrap;
  width: 280px;
}

.itemDeleteBtn {
  align-self: flex-end;
}
